<!-- Footer -->
<!-- <footer class="page-footer font-small unique-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© Team 5 : Contact 253-222-2231 :
      <a href="https://github.com/Team6NodeProject/FinalProject"> WeatherApp source</a>
    </div>  
</footer> -->

<div class="footer-basic container">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Sports</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Contact us</a></li>
        </ul>
        <p class="copyright">team_5 © 2021</p>
    </footer>
</div>
<!-- <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script> -->