<app-homepage-header></app-homepage-header>
<div class='container justify-content-center' >

    <div class="head">
        <div class='card-header bg-dark text-white'>
            <h3 class='card-title '>About</h3>
        </div> 
    </div>
    
    <div class="flex-container">

        <div class="flex-child">
          <img src = "https://images.unsplash.com/photo-1604357209793-fca5dca89f97?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"/>
        </div>
        
        <div class="flex-child">
          Hello, there are many things that you could learn about us! But for now, this is all you need to know. This is the about us section.
        </div>
        
    </div>
</div>

<app-footer></app-footer>