<h1>
    Western leaders condemn plane's forced landing to arrest Belarus journalist: "A war-like act"
</h1>
<p>
    Western leaders this morning are calling the forced landing of a commercial jet in Belarus everything from a "hijacking" to a "state-sponsored terror act."

On Sunday a Ryanair flight from Athens to Vilnius, Lithuania was forced to divert to Belarus' capital, Minsk, based on a phony bomb plot. After it landed, a prominent critic of Belarus' authoritarian leader, Alexander Lukashenko, was taken off the plane.

The CEO of Ryanair said he believed Russian agents were on board that flight. Only one person was arrested when it landed, but a number of passengers got off at Minsk, while everyone else continued, reports correspondent Charlie d'Agata.The Ryanair flight took off from Athens bound for Lithuania. But just two minutes before it entered Lithuanian air space, it was diverted. The pilots were told to land the aircraft in Minsk because of a potential security threat. According to the flight tracking, it appears the plane was actually closer to its final destination in Vilnius when it changed course.

Belarus state media reported that President Lukashenko himself ordered a MiG-29 fighter jet to escort the aircraft down.

On the tarmac in Minsk, luggage was pulled off the Ryanair plane and inspected by sniffer dogs for what authorities called a "bomb threat." But the real target of the search appeared to be opposition activist Roman Protasevic, who was detained upon landing.

Before his arrest, a fellow passenger said Protasevic knew he was in danger, describing him as "super-scared. I saw him, I looked at him directly in his eyes, and it was very sad."

Lithuanian Prime Minister Ingrida Šimonytė called for an uncompromising international response: "This is an unprecedented attack against the international community. A civilian plane and its passengers have been hijacked by military force."

The chairman of the British parliament's foreign affairs committee said this morning, "If it's not an act of war, it's certainly a war-like act." 

Lukashenko is one of Russian President Vladimir Putin's closest allies, and his opponents have accused him of election fraud.

Protasevic has been in exile after helping to organize demonstrations against Lukashenko, who has ruled Belarus with an iron fist for 27 years, and is widely believed to have rigged the last election, which triggered widespread protests last summer.
</p>
