.form-group{


    padding-top: 40px;
    

}

label{
    margin-left: 400px;
}

input{
    width: 900px;
    margin-left: 400px;
}

.head{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    border: none;
    outline: black;
    margin-left: 46px;
    text-align: center;
}

.add{
    margin-left: 800px;
}

